/* Form */
.pieces-details .grouped-inputs { margin: 0; }

.pieces-details .grouped-area {
    border-width: 0 1px 1px;
    margin-bottom: 0.618em;
}

.input-time {
    max-width: 80px;
}

/* Home */
#scroller {
    position: fixed;
    top: 50%;
    left: 0.618em;
}
#facebook {
    position: fixed;
    top: 50%;
    right: 0.618em;
}

#module-home {
    position: absolute;
    top: -5000px;
}

h2 { font-size: 2.456em; }
@media (min-width: 1025px) { h2 { font-size: 3.618em; } }

.content-container article header {
    padding: 0.618em;
}

.bgc-alt a { color: var(--txt-alt);}

.cell-list.cell-items ul li {
    align-items: start;
    border-width: 1px 0 0;
    border-style: solid;
    border-color: var(--bdr-main);
}

.piece-number {
    margin-left: 1.618em;
}

.piece-thumbnail {
    max-width: 160px;
    max-height: 90px;
}

.piece-edit {
    margin-right: 0.618em;
}

@media (min-width: 1025px) {
    .pieces-display {
        column-count: 2;
        column-gap: 0.618em;
    }
    .piece-container {
        break-inside: avoid;
    }
}

#cssmenu-module-delivery .menu-button,
#cssmenu-module-delivery .menu-button::after,
#cssmenu-module-delivery .cssmenu-title {
    background-color: rgba(var(--moderator-rgb-t), 0.2);
    color: var(--moderator-tone);
}

/* Print */
#print { width: 1920px; }

#print .print-buttons { max-width: 420px; }

#print #global {
    padding: 0;
    position: absolute;
    right: -5000px;
}

#print #card {
    padding-bottom: 1.618em;
}

#print #main { padding: 0; }
#print section { margin: 0; }

#print .content-wrapper {
    margin: 0;
    padding: 0 2.228em;
    width: 100%;
}

#print .content {
    margin: 0;
    padding: 0.309em;
}

#print .pieces-display {
    column-count: 2;
    column-gap: 2.228em;
}
#print .piece-container {
    break-inside: avoid;
}

#print .cell-flex {
    flex-direction: row;
}

#print .cell-columns-3 > * {
    --items: 3;
}

#print .sookie-logo {
    width: 1152px;
    height: 1440px;
}

#print .sookie-logo img {
    margin: auto;
}

#print .command {
    font-size: 2.618em;
}

#print .command-text { text-align: right;  font-size: 2.618em;}
#print .command-tel  { text-align: center; font-size: 1.809em;}

#print .print-qrcode img {
    max-height: 200px;
    max-width: 200px;
}

#print .print-qrcode h2 {
    text-align: center;
    width: 50%;
}